
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %>
<% end %>

<h2>Посты</h2>

<%= paginate @posts %>

<div class="post-link_block">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="post-item">
        <div class="post-image">
            <%= image_tag post.photo.url(:thumb)%>
        </div>
      <div class="post-info">
        <div class="post-title">
          <h4>
            <%= post.title %>
          </h4>
        </div>
        <div class="post-short_text">
          <%= post.text.truncate(200, separator: ' ') %>
        </div>
        <div class="post-date">
          <%= post.created_at.to_s(:long)%>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= paginate @posts %>